logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Environment variables
.env

# Database files
*.sqlite
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage/

# Temporary files
tmp/
temp/

# Build files
dist/
build/

# Miscellaneous
*.bak
.old

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore yarn lockfile if you use npm
yarn.lock